<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Spring3 Web Threads</display-name>
    <description>This project demonstrates the safe way to spawn threads in a web application.</description>

    <!--
    Spring MVC dispatcher - defaults to /WEB-INF/SERVLETNAME-servlet.xml for the spring mvc context

    Central dispatcher for HTTP request handlers/controllers, e.g. for web UI controllers or HTTP-based remote
    service exporters. Dispatches to registered handlers for processing a web request, providing convenient mapping
    and exception handling facilities.
-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
